
	* {
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background-color: yellow;
    overflow: hidden;
}
body {
    height: 100%;
    background-color: #ddd;
}
#header {
    height: 10%;
    border-bottom: 2px solid red;
}
h2, h3 {
    text-align: center;
}
#dash {
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 10%;
    border:2px ;
    background-color:rgba(50, 192, 228, 0.883);

}
#wrap {
height: 100%;
position: relative;

}
.window-banner{
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
}
.window {
  position:relative;
  float:left;
  height:90%;
  color:  #696969a4;


}
.pane { 

  width: 100%;
  position: relative;
  height: 50%;
  text-align: right;
  color:  #696969a4;
 }
 #pane1{
   border:2px solid;
 }
 #pane2{
 
   border:2px solid;
  
 }
 #pane3{
   border:2px solid;
 }
 
#window1 {
    width: 75%;
    height: 90%;
    border: 2px solid;
}
#window2 {
    width: 25%;
    border:2px solid;
}
.button {
  background-color: transparent;
  border:  1px solid #fff;
  color: white;
  font-family:Oxygen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius:12px;
    
}
.button1 {
  background-color: transparent;
  border: 1px solid #fff;
  font-family:Oxygen;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
border-radius: 12px;
}
    
.button:hover,.button1:hover {background-color: #3366CC}
